
# Ignore virtual environments
venv/
.env

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks Checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Streamlit Secrets (optional for deployment)
.streamlit/secrets.toml

src/chat2.py
